* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body{
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgba(250, 250, 250, 1);  
}
.main-container{
  min-height: calc(100vh - 349px);
}

.custom-container{
  width: min(1920px, 100%) !important;
  max-width: none !important;
  margin-inline: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-360px * 5));
  }
}

.slider {
  background: transparent;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(360px * 10);
}

.slider .slide {
  width: 33%;
  max-width: 360px;
  height: 30vh;
  max-height: 225px;
}

.slide .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.custom-effect-border,.custom-border {
  border: 1px solid rgb(228, 226, 226);
  border-radius: 10px;
}

.custom-effect-border:hover {
  border-color: rgba(37, 99, 235, 1);
}

.image-zoom{
  transition: transform 0.2s ease-in-out;
}

.image-zoom:hover {
  transform: scale(1.1);
}

